<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Your number is: <%= rand %>
    </h1>
    <% if(rand % 2===0) { %>
        <h2>EVEN</h2>
        <% } else { %>
            <h2>ODD</h2>
            <% } %>
</body>

</html>